<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tamirmishali.trainingmanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Routine.EditRoutines"
            android:launchMode="singleTop"/>
        <activity android:name=".Routine.AddEditRoutineActivity"
            android:parentActivityName=".Routine.EditRoutines"
            android:launchMode="singleTop"/>
        <activity android:name=".Workout.EditWorkouts"></activity>
        <activity android:name=".Workout.AddEditWorkoutActivity"
            android:parentActivityName=".Workout.EditWorkouts"></activity>
        <activity android:name=".ExerciseAbstract.EditExercisesAbstract"></activity>
        <activity android:name=".ExerciseAbstract.AddExerciseAbstractToWorkoutActivity"></activity>
        <activity android:name=".ExerciseAbstract.AddEditExerciseAbsActivity"
            android:parentActivityName=".ExerciseAbstract.AddExerciseAbstractToWorkoutActivity"></activity>
        <activity android:name=".WorkoutNow"></activity>
        <activity android:name=".History.History"></activity>
        <activity android:name=".History.ViewPracticalWorkouts"></activity>
        <activity android:name=".History.ViewOldWorkout"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>